body {
  margin: 0;
  overflow-y: hidden;
  font-family: 'Oswald', sans-serif;
}

.App {
  text-align: center;
  background-color: #000000;
  height: calc(100vh - 85px);
  width: 100vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.box {
  background-color: #3500D3;
  padding: 20px;
  /* display: flex; */
  margin: 3%;
  justify-content: center;
  /* align-items: center; */
  /* padding-left: 20px; */
  height: 80%;
  width: 85%;
}

.sticky-note {
  width: 200px;
  height: 200px;
  background-color: #ffc0cb;
  border: 1px solid #ccc;
  position: relative;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.sticky-note .header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.sticky-note .title {
  font-weight: bold;
  color: #000;
}

.sticky-note .close-btn {
  color: #fff;
  cursor: pointer;
}

.sticky-note .content {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}
